<p class="text-center com-num">{{commentNumber}} Comments</p>
  

<h4 class="pb-3">Leave a Comment</h4>

<form (ngSubmit)="createComment(newComment)" #newComForm="ngForm">
  <div class="form-group">
    <input class="form-control w-50" type="text" name="nickname" id="nickname"
           required [(ngModel)]="newComment.author_nickname" #nickname="ngModel"
           placeholder="Nickname">
    <div [hidden]="nickname.valid || nickname.pristine" 
        class="alert alert-danger">
      Nickname is required
    </div>
  </div>

  <div class="form-group">
    <textarea class="form-control" type="text" name="text" id="text"
           required [(ngModel)]="newComment.text" #text="ngModel"
           placeholder="Comment" rows="3"></textarea>
    <div [hidden]="text.valid || text.pristine" 
        class="alert alert-danger">
      Comment is required
    </div>
  </div>

  <div class="buttons">
    <button type="submit" class="input-group-text btn-success" [disabled]="!newComForm.form.valid">Post</button>
  </div>

</form>


<app-comment-tree 
  [comments]="commentTree"
  (delCommentId)="deleteComment($event)"
  (replyCommentOut)="createComment($event)"></app-comment-tree>
