// On scroll
.sticky-padding {
    padding-bottom: 6%
}

.smallnav {
    display: none;
}

.page-header {
    cursor: pointer;
    padding-bottom: 2%;
    padding-top: 2%;
    border-top: 2px solid lightgray;
    background-color: white;
    text-align: center;

    h1 {
        margin-bottom: 0; // Remove default mb
        font-family: 'Girassol', cursive;
        font-weight: 900;
        font-size: 4.375rem;

        &::before {
            content: 'THE GENERIC JOURNAL';
        }
    }

}

.navmenu {
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-shadow: 0px 10px 20px -20px #111; 
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    margin-bottom: 3%; // Pushes content down
    background-color: hsl(0, 0%, 98%);

    ul {
        padding: 0; // Removing default p
        margin-bottom: 0; // Removing default mb
        display: inline-flex;
        list-style-type: none;
    
        .lastitem {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            font-size: larger;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    
        .navitem {
            @extend .lastitem;
            border-right: 1px solid gray;
    
            .nav-link {
                color: gray;
                font-size: 1.1em;
                position: relative;

                // Adds a hidden full stop which will expand to a line on hover
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: #000000;
                    color: transparent;
                    width: 0%;
                    content: '.';
                    height: 3px;
                }
        
                &:hover::after {
                    width: 100%;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0; // Moves to top of window
    width: 100%;
    z-index: 100000;

    .navmenu {
        padding-bottom: 0.2%;
        padding-top: 0.3%;
        transition: all 0.2s;
        border-top: 2px solid lightgray;

        ul {
            .navitem {
                .nav-link {
                    padding-top: 0.2%;
                    padding-bottom: 0.2%;
                }
            }

            .lastitem {
                input {
                    padding-top: 0.2%;
                    padding-bottom: 0.2%;
                }
            }
        }
    }
}

.hideNav {
    display: none;
}

@media screen and (max-width: 580px) {
    .all-wrap {
        margin-bottom: 3rem;
    }

    .smallnav {
        display: flex;
    }

    .fullnav {
        display: none;
    }

    .page-header {
        cursor: default;
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 0;
        border-bottom: 3px solid lightgray;;

        h1 {
            cursor: pointer;
            text-align: left;

            &::before {
                content: 'TGJ';
            }
        }

        .menu-toggle {
            display: inline-flex;
            justify-content: right;

            button {
                cursor: pointer;
                outline: none;
            }
            
        }
    }

    .navmenu {
        border-top: 0;
        ul {
            display: list-item;

            .navitem {
                border-right: none;
            }

            .lastitem {
                padding-left: 30%;
                padding-right: 30%;
            }
        }
    }
}

@media screen and (min-width: 581px) {
    .navmenu {
        display: block;
    }

    .page-header {
        margin-right: auto;
    }
}