<div class="header">
    <h1>Authors</h1>
</div>

<div class="input-group-overlay showsearch" style="padding-right: 1%;" (keyup)="keyUpFunction($event)">
    <input class="form-control appended-form-control" type="text" [(ngModel)]="searchParam" placeholder="Search for products">
</div>

<div class="">
    <!-- <a *ngFor="let author of authors" href="">{{author.name}}</a> -->
    <ul>
        <li *ngFor="let authorDetail of authorDetails">
            <img [src]=authorDetail.author.pic_url>
            <a href="/author/{{authorDetail.author._id}}">
                {{authorDetail.author.name}}
            </a>
            {{authorDetail.author.bio}}
            {{authorDetail.author_posts.length}}
        </li>
    </ul>
</div>

<a class="btn-link" [routerLink]="['/author/new']">New Author</a>

