<ul class="tree-view">
	<li class="" 
		 *ngFor="let comment of comments; let i = index">
		<div class="">
			<div class="name-date-wrapper">
				<p class="nickname">{{comment.thisComment.author_nickname}}</p>
				<p class="dates">{{comment.thisComment.date_posted | date}}</p>
				<p *ngIf="comment.thisComment.last_edited" class="dates">
					(edited: {{comment.thisComment.last_edited | date}})
				</p>
				<span class="" (click)="editClick(i)">Edit</span>
			</div>
			
			<div *ngIf="comment.editHidden else editContainer">
				<p>{{comment.thisComment.text}}</p>
			</div>

			<ng-template #editContainer>
				<form (ngSubmit)="submitEdit(editComment, i)" #editCommentForm="ngForm">
					<div class="form-group">
						<textarea type="text" class="form-control" name="editText" id="editText"
								[(ngModel)]="editComment.text" 
								#editText="ngModel" rows="3"></textarea>
					</div>

					<div class="buttons">
						<button type="submit" class="input-group-text btn-success" 
								[disabled]="editComment.text.length < 1 || editCommentForm.form.pristine">
							Update
						</button>
					</div>
				</form>
			</ng-template>
			
			<p class="options">
				<span class="fas fa-arrow-up" (click)="like(comment.thisComment)"></span> {{comment.thisComment.likes}}
				<span class="fas fa-arrow-down" (click)="dislike(comment.thisComment)"></span> {{comment.thisComment.dislikes}} 
				<span class="pl-2" (click)="replyClick(comment.thisComment, i)">Reply</span>
				<span class="pl-2" (click)="deleteComment(comment.thisComment._id)">Delete</span>
			</p> 
		</div>
		<div *ngIf="!comment.replyHidden">
			<form (ngSubmit)="createReply(newReply, i)" #newRepForm="ngForm">
				<div class="form-group">
					<label for="nickname">Nickname</label>
					<input class="form-control" type="text" name="nickname" id="nickname"
							required [(ngModel)]="newReply.author_nickname" #nickname="ngModel">
					<div [hidden]="nickname.valid || nickname.pristine" 
							class="alert alert-danger mt-2">
						Nickname is required
					</div>
				</div>
			
				<div class="form-group">
					<label for="text">Comment</label>
					<textarea class="form-control" type="text" name="text" id="text"
							required [(ngModel)]="newReply.text" #text="ngModel" rows="3"></textarea>
					<div [hidden]="text.valid || text.pristine" 
							class="alert alert-danger mt-2">
						Comment is required
					</div>
				</div>
			
				<div class="buttons">
					<button type="submit" class="input-group-text btn-success" [disabled]="!newRepForm.form.valid">Post</button>
				</div>
			</form>
		</div>
		<ul *ngIf="comment.children">
			<app-comment-tree 
				(delCommentId)="deleteComment($event)" 
				(replyCommentOut)="createReply($event, i)"
				[comments]="comment.children"></app-comment-tree>
		</ul>
	</li>
</ul>