.tree-view {
    padding-left: 0;
    li {
        list-style-type: none;
        border-left: 0.125rem #f2f2f2 solid;
        padding-left: 0.5rem;
    }
}

.name-date-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;

    * {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }

    .nickname {
        font-weight: 550;
    }

    .dates {
        color: gray;
    }
}

span {
    cursor: pointer;

    &:hover {
        color: gray;
    }
}

.buttons {
    display: flex;
    justify-content: right;

    > button {
        &:disabled {
            background-color: #eaedf0;
            border: 1px solid #ced4da;
            color: gray;
        }
    }
}


@media screen and (max-width: 580px) {
    .tree-view {
        font-size: small;
    }
}