<div class="container pb-5">
  <div class="list-header">
    <h1>Posts</h1>
  </div>

  <div class="row mb-5">
    <div
      class="input-group-overlay showsearch col-9 col-sm-10"
      style="padding-right: 1%"
      (keyup)="keyUpFunction($event)"
    >
      <input
        class="form-control appended-form-control"
        type="text"
        [(ngModel)]="searchParam"
        placeholder="Search for Post"
      />
    </div>
    <div class="col-3 col-sm-2">
      <button
        type="button"
        class="btn-success btn btn-gray btn-fill fa fa-plus"
        [routerLink]="['/post/new']"
      ></button>
    </div>
  </div>

  <app-post-banner [posts]="posts"></app-post-banner>
</div>
