.login-wrapper {
  padding: 1rem 35% 0 35%;

  .buttons {
    >* {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 580px) {
  .login-wrapper{
    padding: 1rem 0 0 0;
  }
}