<div class="container pb-3">
	<div class="list-header">
		<h1>Topics</h1>
	</div>
	
	<div class="mb-4">
		<ul>
			<li class="" *ngFor="let topicDetail of topicDetails | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
				<div class="flex-wrapper">
					<div *ngIf="!visibleTopics[i]" class="title-count">
						<p>{{topicDetail.topic.name}}</p>
						<p class="post">(Posts: {{topicDetail.topic_posts.length}})</p>
					</div>

					<div class="inputs">
						<input *ngIf="visibleTopics[i]" type="text" class="form-control" 
								[id]="'name' + i" [(ngModel)]="topicDetail.topic.name" 
								[name]="'name' + i" #name="ngModel" maxlength="25">

						<button *ngIf="visibleTopics[i]" type="button" class="btn input-group-text btn-outline-success fa fa-check" 
								[id]="'save' + i" [name]="'save' + i"
								(click)="saveTopic(topicDetail.topic._id, topicDetail.topic)"></button>
						
						<button type="button" class="btn input-group-text btn-outline-secondary" 
								[id]="'update' + i" [name]="'update' + i" 
								[ngClass]="!visibleTopics[i] ? 'fa fa-edit' : 'fa fa-times'"
								(click)="updateClick(i)"></button> 
						
						<button type="button" class="btn input-group-text btn-outline-danger fa fa-trash" 
								[id]="'delete' + i" [name]="'delete' + i"
								(click)="deleteTopic(topicDetail.topic._id)"></button>
					</div>
				
				 

				</div>

			</li>
			<li>
				<div class="new-wrapper">
					<button type="button" class="btn input-group-text btn-outline-success" (click)="showNew = !showNew" 
							[ngClass]="!showNew ? 'fa fa-plus' : 'fa fa-times'"></button>
					<input *ngIf="showNew" type="text" class="form-control" id="newName"
							[(ngModel)]="newTopic.name" name="newName" #newName="ngModel" maxlength="25">
					<button *ngIf="showNew" type="button" class="btn input-group-text btn-outline-success fa fa-check" 
							(click)="createTopic()"></button>
				</div>
			</li>
		</ul>
	</div>
	<pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
</div>
