.links {
    display: flex;
    justify-content: right;
    margin-bottom: 5%;

    > button {
        margin-right: 1%;
    }
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;

    > img {
        text-align: center;
        object-fit: cover;
        width: clamp(20rem, 18vw, 40rem);
        height: clamp(20rem, 18vw, 40rem);
        border-radius: 50%;
    }
}

.subheader {
    text-align: center;
}

.details {
    text-align: center;
    margin-bottom: 5%;
    padding: 0 20% 0 20%;
    > p {
        margin-bottom: 0;
        word-wrap: break-word;
    }
}
