.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    > * {
        margin: 0 1em 6em 1em;
    }

    .single {
        grid-column: span 12;

        .banner-image {
            > img {
                height: 15vh;
            }
        }
    }
    
    .double {
        grid-column: span 6;

        .banner-image {
            > img {
                height: 400px;
            }
        }
    }
    
    .triple {
        grid-column: span 4;

        .banner-image {
            > img {
                height: 200px;
            }
        }
    }
}

.title-wrapper {
    display: flex;
    a {
        font-size: 1.5rem;
        color: black;

        &:hover {
            color: grey;
            text-decoration: none;
        }
    }


}

.banner-image {
    cursor: pointer;

    > img {
        object-fit: cover;
        width: 100%;
    }
}

.author-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    * {
        margin-right: 3%;
    }

    span {
        font-weight: 550;
        cursor: pointer;
    }

    .date-wrapper {
        display: flex;
        align-items: center;
        color: gray;
    }
}
