<form (ngSubmit)="onSubmit()" #postForm="ngForm">
  <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
          required [(ngModel)]="post.title" name="title"
          #title="ngModel">
      <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
       Title is required
     </div>
  </div>

  <div class="form-group">
      <label for="summary">Summary</label>
      <input type="text" class="form-control" id="summary"
          required [(ngModel)]="post.summary" name="summary"
          #summary="ngModel">
      <div [hidden]="summary.valid || summary.pristine"
          class="alert alert-danger">
       Summary is required
     </div>
  </div>

  <div class="form-group">
    <p *ngFor="let topic of post.topics; let i = index">
      {{topic.name}}
      <button type="button" class="button btn-link" (click)="removeTopic(i)">Remove</button>
    </p>
  </div>

  <div class="form-group">
    <input matInput [matAutocomplete]="auto" id="newTopic"
    name="newTopic" (change)="doTopicFilter()">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let topic of topics" [value]="topic.name" (click)="selectTopic(topic)">
        {{topic.name}}
      </mat-option>
    </mat-autocomplete>
                  
    <button type="button" class="button btn-link" (click)="addTopic()">Add</button>
  </div>





  <div class="form-group">
    <label for="thumbnail">thumbnail</label>
    <input type="text" class="form-control" id="thumbnail"
        [(ngModel)]="post.thumbnail" name="form-control"
        #thumbnail="ngModel">
  </div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let container of post.content.containers; let i = index;trackBy:trackByIndex;" cdkDrag>
      <div *ngIf="container.type == 'Text' else imageContainer" class="form-group">
        <input type="text" class="form-control" name="txtContTitle{{i}}"
            [(ngModel)]="post.content.containers[i].title" 
            #textContTitle="ngModel">
        <input type="text" class="form-control" name="textContText{{i}}"
            [(ngModel)]="post.content.containers[i].text" 
            #textContText="ngModel">
      </div>
      <ng-template #imageContainer>
        <input type="text" class="form-control" name="imgContUrl{{i}}"
            [(ngModel)]="post.content.containers[i].image_url" 
            #imgContUrl="ngModel">
        <input type="text" class="form-control" name="imgContCap{{i}}"
            [(ngModel)]="post.content.containers[i].caption" 
            #imgContCap="ngModel">
      </ng-template>

      <button type="button" type="button" class="btn btn-outline-danger" (click)="deleteContainer(container._id, i)">Delete</button>
    </div>
  </div>
  



  <button type="button" class="button btn-link" (click)="addContainer('Text')">Add Text Container</button>
  <button type="button" class="button btn-link" (click)="addContainer('Image')">Add Image Container</button>
  <p></p>

  <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
  <button type="button" class="btn btn-default" (click)="resetForm(); postForm.reset()">Cancel</button>


</form>