<div class="container pb-5">
  <div class="list-header">
    <h1>{{ mode == 0 ? 'New Post' : 'Edit Post'}}</h1>
  </div>

  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group post-title">
        <input type="text" class="form-control" id="title"
            required [(ngModel)]="post.title" name="title"
            #title="ngModel" placeholder="Post Title">
        <div [hidden]="title.valid || title.pristine"
            class="alert alert-danger mt-2">
         Title is required
       </div>
    </div>
  
    <div class="form-group">
        <textarea type="text" class="form-control" id="summary"
            required [(ngModel)]="post.summary" name="summary"
            #summary="ngModel" maxlength="500" rows="3" placeholder="Summary"></textarea>
        <div [hidden]="summary.valid || summary.pristine"
            class="alert alert-danger mt-2">
         Summary is required
       </div>
    </div>

    <div *ngIf="mode == 0; else authorText" class="author-wrapper form-group">
      <label for="authorSelect">Author</label>
      <select class="form-control custom-select" 
              [(ngModel)]="post.author" 
              name="authorSelect" 
              id="authorSelect">
        <option *ngFor="let author of authors" [ngValue]="author">{{author.first_name}} {{author.family_name}}</option>
      </select>
    </div>

    <ng-template #authorText>
      <label>Author</label>
      <div class="author-text form-group">
        <span>{{post.author.first_name}} {{post.author.family_name}}</span>
      </div>
    </ng-template>



    <label>Topics</label>
  
    <div class="topic-wrapper form-group">
      <div class="topic" *ngFor="let topic of post.topics; let i = index">
        {{topic.name}}
        <span class="far fa-times-circle pl-2 pt-1" (click)="removeTopic(i)"></span>
      </div>

      <div class="topic-input">
        <select class="form-control custom-select" 
                [(ngModel)]="topicAdd" 
                name="topicSelect" 
                id="topicSelect">
          <option *ngFor="let topic of topics" [ngValue]="topic">{{topic.name}}</option>
        </select>
      </div>
                    
      <button type="button" class="btn btn-gray btn-success fa fa-plus ml-2" (click)="addTopic()"></button>
    </div>

    <div class="thumbnail-wrapper">
      <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <img *ngIf="post.thumbnail" id="thumbnail" [src]=post.thumbnail name="thumbnail">
        <app-photo-uploader (uploadedImageUrl)="getUploadedThumbnail($event)"></app-photo-uploader>
      </div>
    </div>

  
    <div class="container-wrapper">
      <div *ngIf="post.content !== undefined" 
            cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="container-box" *ngFor="let container of post.content.containers; let i = index" cdkDrag>
          <span class="fas fa-times top-left-red" (click)="deleteContainer(container._id, i)"></span>
          <span cdkDragHandle class="fas fa-arrows-alt top-left-gray"></span>

          <div class="text-container" *ngIf="container.type == 'Text' else imageContainer">
            <div class="form-group">
              <input type="text" class="form-control" [name]="'txtContTitle' + i"
                    [(ngModel)]="post.content.containers[i].title" placeholder="Sub-title"
                    #textContTitle="ngModel">
            </div>
            <div class="form-group">
              <angular-editor class="" [name]="'txtContText' + i" [config]="editorConfig"
                [(ngModel)]="post.content.containers[i].text" placeholder="Text"
                #textContText="ngModel"></angular-editor>
            </div>
          </div>
          <ng-template #imageContainer>
            <div class="img-container">
              <div class="form-group">
                <img *ngIf="post.content.containers[i].image_url" [id]="'imgContUrl' + i" 
                  [src]="post.content.containers[i].image_url" [name]="'imgContUrl' + i">
                <app-photo-uploader (uploadedImageUrl)="getUploadedImgCont(i, $event)"></app-photo-uploader>
              </div>
              
              <input type="text" class="form-control" [name]="'imgContCap' + i"
                    [(ngModel)]="post.content.containers[i].caption" placeholder="Caption"
                    #imgContCap="ngModel">
            </div>
          </ng-template>
        </div>
      </div>  

      <div class="container-add">
        <button type="button" class="btn btn-outline-secondary" 
                (click)="createContainer('Text')">Add Text</button>
        <button type="button" class="btn btn-outline-secondary" 
                (click)="createContainer('Image')">Add Image</button>
      </div>

    </div>
    <p></p>
  
    <div class="buttons">
      <button type="submit" class="btn btn-gray btn-success" 
              [disabled]="!postForm.form.valid">Submit</button>
      <button type="button" class="btn btn-gray btn-secondary ml-2" 
              (click)="navigatePost()">Cancel</button>
    </div>
  
  </form>
</div>
