$gap-margin: 2rem;

.header-wrapper {
    h1 {
        // font-size: 3rem;
        font-family: 'Roboto', sans-serif;
    }

    p {
        color: gray;
    }
}

.author-date-wrapper {
    margin-bottom: $gap-margin/4;
    .author-wrapper {
        display: flex;
        align-items: center;
        img {
            display: block;
            width: 5em;
            height: 5em;
            object-fit: cover;
            border-radius: 50%;
            flex-shrink: 0;
        }
    
        span {
            font-weight: 600;
            margin-left: 1rem;
            cursor: pointer;
        }
    }

    p {
        color: gray;
        margin-bottom: 0;
        text-align: right;
    }
}

.topic-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    * {
        margin-right: 0.75em;
    }
}

.edit-del-wrapper {
    text-align: right;

    > * {
        margin-left: 0.5rem;
        font-size: small;
    }
}

.thumbnail-wrapper {
    margin-bottom: $gap-margin;

    img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
}

.container-wrapper {
    margin-bottom: $gap-margin;

    .text-cont {
        h3 {
            // font-size: 2rem;
            font-family: 'Roboto', sans-serif;
        }

        p {
            white-space: pre-wrap;
        }
    }

    .image-cont {
        text-align: center;

        img {
            max-height: 550px;
            max-width: 100%;
            object-fit: cover;
        }

        .caption {
            color: gray;
            font-size: 1rem;
        }
    }



    // p {
    //     font-size: 1.15rem;
    // }


    
}

.comments-toggle-wrapper {
    text-align: center;
    margin-bottom: $gap-margin/2;
}

@media screen and (max-width: 580px) {
    .author-date-wrapper {
        margin-bottom: $gap-margin/2;
    }

    .topic-wrapper {
        margin-bottom: $gap-margin/2;
    }

    .edit-del-wrapper { 
        text-align: left;

        > * {
            margin-left: 0;
            margin-right: 0.5rem;
            font-size: small;
        }
    }
    
}